/*
##########
Fonte: CSS Raiz
URL: www.cssraiz.com.br
E-Mail: cssraiz.code@gmail.com
GitHub User: cssraiz
##########
*/
[hidden] {
    display: none!important;
}
a[href*=".pdf"]::after,
a[href*=".doc"]::after,
a[href*=".docx"]::after,
a[href*=".xls"]::after{
    font-size: .6rem;
    font-weight: 900;
    margin-right: 4px;
}
a[href*=".pdf"]::after{
    content: "(.pdf)";
}
a[href*=".doc"]::after,
a[href*=".docx"]::after{
    content: "(.doc)";
}
a[href*=".xls"]::after{
    content: "(.xls)";
}